.aboutMe {
    padding: 3% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 24px;
    color: var(--dark_Text);
}

.headerParagraph {
    text-align: center;
    line-height: initial;
    color: var(--dark_Text_secondary);
    font-size: 16px;
}

.aboutMeDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.aboutMeDetail img {
    width: 100%;
}

.paragraph {
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    color: var(--dark_Text_secondary);
}

.buttonHire {
    margin-top: 15px;
    padding: 5px 30px;
    background-color: var(--dark_Primary);
    border: none;
    transition: 0.5s;
    color: var(--dark_Text);
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.buttonHire:hover {
    color: var(--dark_Primary);
    background-color: var(--dark_Text);
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progressBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}

@media (min-width: 1440px) {

    .aboutMe {
        padding: 3% 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        font-size: 3.5rem;
        color: var(--dark_Text);
    }

    .aboutMeDetail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    .textContainer {
        margin-left: 5rem;
        display: block;
    }

    .paragraph, .headerParagraph {
        font-size: 32px;
        line-height: 60px;
        color: var(--dark_Text_secondary);
    }

    .buttonHire {
        padding: 15px 50px;
        background-color: var(--dark_Primary);
        border: none;
        transition: 0.5s;
        cursor: pointer;
        color: var(--dark_Text);
        outline: none;
        border-radius: 10px;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .buttonHire:hover {
        color: var(--dark_Primary);
        background-color: var(--dark_Text);
    }

    .progressBar{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
    }
}