.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark_Surfaces);
    border-radius: 15px;
    margin: 10px 5px;
    padding: 15px;
}

.icon {
    color: var(--dark_Accent);
}

.cardTitle {
    color: var(--dark_Accent);
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.par {
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    margin: 0;
}

@media (min-width: 1440px) {

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        background-color: var(--dark_Surfaces);
        border-radius: 1.5rem;
        padding: 2rem 4rem;
    }

    .icon {
        color: var(--dark_Accent);
        font-size: 7rem;
    }

    .cardTitle {
        color: var(--dark_Accent);
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .par {
        text-align: center;
        font-size: 24px;
        line-height: 3rem;
        margin: 0;
    }

}