@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Light theme */
  --light_Background: #F5F7FA;
  --light_Text: #1A1A1A;
  --light_Text_secondary: #979797;
  --light_Primary: #1F4A7C;
  --light_Accent: #C02C27;
  --light_Surfaces: #FFFFFF;

  /* Dark theme */
  --dark_Background: #0D0D0D;
  --dark_Text: #FAFAFA;
  --dark_Text_secondary: #979797;
  --dark_Primary: #1F4A7C;
  --dark_Accent: #C02C27;
  --dark_Surfaces: #1f1f1f;
  --dark_Fade_Background: #151515;
}

body {
  background-color: var(--dark_Background);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hide {
  display: none;
}