.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 15px;
    justify-content: space-between;
}

.navigationContainer {
    display: none;
}

.menuIcon {
    color: var(--dark_Text_secondary);
}

.logo {
    width: 70px;
}

.hireButton {
    background-color: var(--dark_Primary);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--dark_Text);
    border: none;
    transition: 0.3s;
    cursor: pointer;
}


@media (min-width: 1440px) {

    .navbar {
        padding: 3% 6%;
    }

    .logoContainer {
        width: 150px;
    }

    .logo {
        width: 100%;
    }

    .menuIcon {
        display: none;
    }

    .navigationContainer {
        display: flex;
        align-items: center;
    }

    .vavItem {
        color: var(--dark_Text);
        font-size: 1.75rem;
        padding: 0 3rem;
        color: var(--dark_Text_secondary);
        font-weight: 400;
    }

    .active {
        color: var(--dark_Accent);
        font-weight: 600;
    }

    .hireButton {
        background-color: var(--dark_Primary);
        padding: 1rem 4rem;
        border-radius: 10px;
        font-size: 1.5rem;
        color: var(--dark_Text);
        font-weight: 500;
        border: none;
        transition: 0.3s;
        cursor: pointer;
    }

    .hireButton:hover {
        color: var(--dark_Primary);
        background-color: var(--dark_Text);
    }

}