@media (min-width: 1440px) {

    .serviceContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3% 6%;
        margin-top: 5%;
    }

    .header {
        color: var(--dark_Text);
        font-size: 3.5rem;
        font-weight: 500;
    }

    .serviceContainer {
        color: var(--dark_Text_secondary);
        margin-top: 0;
    }

    .par {
        font-size: 1.8rem;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}